<div class="h-screen" [ngStyle]="{ 'background-image': 'url(' + bgURL + ')' }">
    <div class="header">
      <img [src]="logoURL" alt="logo" class="w-52" />
    </div>
    <div class="login-container">
      <div class="login-card">
        <h2 class="heading">Sign In</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="form-field">
            <input type="text" class="input" name="email" [(ngModel)]="email" placeholder="Email or mobile number" />
          </div>
          <div class="form-field">
            <input type="password" class="input" name="password" [(ngModel)]="password" placeholder="Password" />
          </div>
          <div class="action-field">
            <button type="submit" class="login-btn">Sign In</button>
          </div>
          <div class="alternative-option">
            <span>OR</span>
            <br>
            <button type="button" class="sign-in-code-btn">Use a sign-in code</button>
          </div>
          <div class="additional-options">
            <a href="#" class="forgot-password">Forgot password?</a>
          </div>
          <div class="remember-me">
            <input type="checkbox" id="rememberMe" />
            <label for="rememberMe">Remember me</label>
          </div>
          <div class="sign-up-option">
            <span>New to Netflix? <a href="#">Sign up now.</a></span>
          </div>
          <div class="captcha-notice">
            <span>This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a></span>
          </div>
        </form>
      </div>
    </div>
  </div>
  